
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap');

body {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 35px;
    letter-spacing: 1px;
}

/* Padding */

.p-t-60 {
    padding-top: 60px;
}

/* Buttons */

.btn-1 {
    background: #F7421E;
    border-radius: 2px;
    color: #ffffff;
}

.btn-1:hover,
.btn-1:focus {
    color: #ffffff;
    box-shadow: none;
}

.btn-2 {
    background: #0FA958;
    border-radius: 2px;
    color: #ffffff;
}

.btn-2:hover,
.btn-2:focus {
    color: #ffffff;
    box-shadow: none;
}

/* Header */

header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 150px 0px;
}

.overlay {
    position: absolute;
    background: rgba(18, 37, 44, 0.85);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.header__content {
    position: relative;
    z-index: 5;
}

.header__content h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

.header__content h3 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
}

.header__content i {
    color: #F7421E;
    font-size: 20px;
}

.header__content--logo img {
    min-width: 100px;
    margin-bottom: 30px;
}

.header__content--cta {
    margin-top: 30px;
}

.header__content--cta i {
    color: #ffffff;
    display: inline-flex;
    font-size: 13px;
    margin-right: 10px;
}

/* Home demos */

.home-demos {
    padding: 50px 0px;
}

.content h3 { 
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #000;
}

.content p {
    margin-top: 20px;
    font-family: 'Jost' !important;
    font-size: 17px;
    letter-spacing: .25px;
    color: #939393;
}

.number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #F7421E;
    color: #fff;
    border-radius: 30px;
    margin-right: 5px;
    font-size: 15px;
}

.box-preview {
    padding: 20px;
}

.box-preview h4 {
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    font-size: 17px;
    color: #000;
    position: relative;    
}

.box-preview h4::after {
    content: "";
    position: absolute;
    border-top: 1px solid #e7e6e6;
    height: 1px;
    width: 30px;
    top: 12px;
    margin-left: 10px;
}

.box-preview a {
    display: block;
    border: 10px solid #ffffff;    
    border-radius: 5px;    
    box-shadow: 0 1px 50px rgba(153, 153, 153, 0.35);
    transition: all 400ms ease-in-out;    
}

.box-preview a:hover {
    transform: translateY(-10px);
}

/* Inner demos */

.inner-demos {
    padding: 50px 0px;
    border-bottom: 1px solid #fff1d0;
    background: #FFFDF8;
    border-top: 1px solid #fff1d0;
}

/* Features */

.features {
    padding: 50px 0px;
    position: relative;
}

.signature {
    position: absolute;
    top: 0;
    right: 0;
}

.feature-block {
    padding: 40px 20px;
    box-shadow: 0 2px 40px rgb(0 0 0 / 8%);
    margin-bottom: 20px;
    border-radius: 5px;
}

.feature-block i {
    color: #F7421E;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.feature-block h4 {
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    font-size: 17px;
    color: #000;
    position: relative;    
}

/* support */

.support {   
    padding: 70px 0px;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.support .btn-1 {
    margin-top: 30px;
}

.support__content h3 {
    font-size: 25px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 1.6em;
    margin-bottom: 0px;
}

/* newsletter */

.newsletter {
    padding: 50px 0px;
    background: #FFFDF8;
    border-top: 1px solid rgb(255, 241, 208);
    position: relative;
}

.newsletter-block {
    margin-top: 20px;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.newsletter-block input {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;    
    height: 50px;
    text-indent: 5px;
    border: 1px solid #d6d4d4;
    border-radius: 2px;
}

.newsletter-block input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;
}

.newsletter-block input:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #d6d4d4;
}

.newsletter-block .btn-primary {
    height: 50px;
    width: 150px;
    background: #F7421E;
    border-color: #F7421E;
    border-radius: 1px;
}

.newsletter-block .btn-primary:hover,
.newsletter-block .btn-primary:focus {
    outline: none;
    box-shadow: none;
    background: #f76042;
    
}

/* footer */

footer {
    /* background: #101010; */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 20px 0px;
}

footer p {
    margin: 0;
    color: #fff;
    font-size: 18px;
    letter-spacing: .5px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

footer a:hover,
footer a:focus {
    color: #b7b7b7;
}